django==4.0.4
channels
django-cors-headers
djangorestframework
django-import-export==2.8.0
spacy
gensim>4.0
joblib
pandas
sklearn
python-osc
pyttsx3
asgiref
torch
numpy
tensorboard
transformers
matplotlib
seaborn
python-decouple

gunicorn
psycopg2-binary
django-storages
boto3