[settings]
DEBUG=True
SECRET_KEY=YOUR_DJANGO_SECRET_KEY

PROJECT_NAME=THE_NAME_OF_THE_DJANGO_PROJECT

DB_NAME=NAME_OF_DATABASE
DB_USER=NAME_OF_DB_USER
DB_PASSWORD=PASSWORD_OF_DB_USER

HOSTNAME=DOMAIN_NAME_OF_APPLICATION
