@import url('https://fonts.googleapis.com/css?family=DM+Sans');

body {
  font-family: 'DM Sans', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-frame {
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 100%;
  background-color: #F7F8FF;
}

.topic-frame {
  display: flex;
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  padding: 16px;
  margin: 20px;

  position: static;
  left: 0px;
  top: 0px;

  background: #D9D9EF;
  border-radius: 20px;

  order: 0;
  align-self: stretch;
}

.selector-frame {
  background-color: #EBEBEB;
  max-width: 500px
}

.history-scroll-wrapper {
  min-width: 300px;
  margin: auto;
  width: 50%;
  overflow-y: scroll;
  max-height: 500px;
}

.chat-history {
  display: block;
  min-height: 150px;
  margin: 20px;
}

.input-field {
  width: auto;
  position: absolute;
  bottom: 0px;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  font-weight: bold;
  font-size: 16px !important;
  letter-spacing: 0.06em;

  position: relative;
  width: 150px;
  height: 50px;

  background: #3237AB!important;
  border-radius: 4px;
}

.outer {
  display: block;
  height: 50%;
  overflow-y: scroll;
  position: relative;
}

.inner {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
