.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-frame {
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  background-color: #F7F8FF;
}

.input-field {
  width: auto;
}

.selector-frame {
  background-color: #EBEBEB;
  max-width: 500px
}



.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;

  position: relative;
  width: 150px;
  height: 50px;

  background: #3237AB!important;
  border-radius: 4px;
}

.chat-history {
  display: block;
  min-height: 150px;
}

.outer {
  display: block;
  height: 50%;
  overflow-y: scroll;
  position: relative;
}

.inner {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
